.header{
    height:60px;
    background-color: rgb(252, 142, 160);
    display: flex;
    flex-direction: row;
}

.logo{
    padding: 0;
    padding-left: 0.5%;
    padding-top: 0.5%;
    width: 120px;
}

.icons{
    right: 5%;
    width: 10px;
    padding-top: 1%;
    position: absolute;
}

.icon{
    color: rgb(252, 253, 253);
}

@media only screen and (max-width: 768px){
    .logo{
        width:150px
    }
  }

