.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2vh;
    align-items: center;
}

.category{
    align-items: center;
}

.item{
    width: 60px;
    height: 60px;
    caret-color: transparent;
}

.catname{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", "cursive";
    caret-color: transparent;
    color: black;
}